:global {
    :local(.wrapper) {
        height: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(59, 59, 59, 1);
        display: flex;
        flex-direction: column;
        color: rgba(120, 120, 120, 1);
        text-align: center;

        >.header {
            height: 80px;
            border-bottom: 1px solid rgba(59, 59, 59, 1);
            display: flex;
            align-items: center;
            font-size: 22px;
            line-height: 22px;
            font-weight: bold;
            text-transform: uppercase;

            &::before {
                content: "";
                width: 0;
                flex-grow: 3;
            }

            &::after {
                content: "";
                width: 0;
                flex-grow: 20;
            }
        }

        >.content {
            height: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >.title {
                font-size: 44px;
                line-height: 46px;
                font-weight: bold;
            }

            >.subtitle {
                margin-top: 20px;
                font-size: 18px;
                line-height: 18px;
            }

            >.btn {
                margin-top: 20px;
                border: 1px solid rgba(54, 54, 54, 1);
                padding: 12px;
                font-size: 20px;
                line-height: 20px;
                user-select: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        >.footer {
            height: 80px;
            border-top: 1px solid rgba(59, 59, 59, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 20px;
            font-style: italic;
        }
    }
}