:global {
    :local(.wrapper) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(120, 120, 120, 1);
        text-align: center;

        >.mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
        }

        >.content {
            position: relative;
            background-color: rgba(255, 255, 255, 1);
            border: 1px solid rgba(54, 54, 54, 1);
            padding: 0 24px 48px 24px;
            width: 260px;

            >.title {
                font-size: 18px;
                line-height: 18px;
                margin-top: 36px;
                font-style: italic;
                padding-bottom: 12px;
                position: relative;
                margin-bottom: 24px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 35px;
                    height: 1px;
                    background-color: rgba(54, 54, 54, 1);
                }
            }

            >.input,
            >.btn {
                border: 1px solid rgba(54, 54, 54, 1);
                box-sizing: border-box;
                width: 100%;
                height: 28px;
            }

            >.input {
                margin-top: 10px;
                padding-left: 12px;
                padding-right: 12px;

                &.invalid {
                    border-color: red;
                }
            }

            >.btn {
                margin-top: 36px;
                font-size: 12px;
                line-height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
                cursor: pointer;

                &:not(.disable) {

                    &:hover {
                        opacity: 0.8;
                    }
                }

                &.disable {
                    opacity: 0.6;
                }
            }

            >.err_msg {
                margin-top: 12px;
                font-style: italic;
                font-size: 12px;
                line-height: 12px;
            }

            &.done {
                padding: 0 42px 36px 42px;

                >.content {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}